@{
    Layout = "_Layout";
}

@using Factory.Models;
@model Factory.Models.Engineer;

<h3>Engineer Certifications</h3>
<h4>@Model.EngineerFirstName @Model.EngineerLastName</h4>
<h5>Employee Since: @Html.DisplayFor(model => model.HireDate)</h5>

@if(Model.Machines.Count == 0)
{
    <p>This employee is not certified to service any machines.</p>
}
else
{
    <h5>Machine Certifications</h5>
    <ul>
        @foreach(var join in Model.Machines)
        {
            <li>@Html.ActionLink(@join.Machine.MachineName, "Details", "Machines", new { id = @join.Machine.MachineId })</li>
        }
    </ul>
}

<br>
<p>@Html.ActionLink("Add a Machine Certification", "AddMachine", new { id = Model.EngineerId })</p>
<p>@Html.ActionLink("Edit this Engineer's Details", "Edit", new { id = Model.EngineerId })</p>
<p>@Html.ActionLink("Remove this Engineer from the Company Directory", "Delete", new { id = Model.EngineerId })</p>
<p>@Html.ActionLink("Return to Engineer Directory", "Index")</p>